.photoBlock {
  height: 50vw;

  &__blockTopic {
    position: relative;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;

    font-size: 24px;
    font-weight: bold;
  }
}

@media screen and (max-width: 1015px) {
  .photoBlock {
    &__title {
      font-size: 3vw;
    }
    &__text {
      font-size: 2.5vw;
    }
  }
}
//     &__blockTopic {
//       top: 25%;
//     }
//   }
// }
@media screen and (max-width: 425px) {
  .photoBlock {
    height: 70vw;
    &__title {
      font-size: 4vw;
    }
    &__text {
      font-size: 3vw;
    }
  }
}
